<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us</title>
    <link rel="stylesheet" href="../Stylesheets/nav.css">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="../Stylesheets/team.css">
</head>

<body>
    <div class="navbar_main" id="myHeader" class="shadow">
        <nav class="navbar navbar-expand-lg navbar-dark  ">
            <a href="index.html">
                <img src="../Assets/logo.png" alt="logo" class="nav_img" height="50" />
            </a>
            <p class="nav_name"><strong><span style="color: orangered;">e</span>Vote</strong></p>
            <div class="navbar-header">
                <button class="navbar-toggler toggler-example mr-auto" type="button" data-toggle="collapse"
                    data-target="#navbarhome" aria-controls="navbarhome" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"><i class="fas fa-bars fa-1x"></i></span>
                </button>
            </div>
            <div class="collapse navbar-collapse position-relative" id="navbarhome">
                <ul class="navbar-nav ml-auto ">
                    <li class="nav-item active">
                        <a class="nav-link" href="../index.html">Home<span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="#about">About </a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="#hIw">How It Works</a>
                    </li>

                </ul>
                <li class="nav-item active" style="list-style: none;">
                    <a class="nav-link" href=""><button class="btnn">Log In</button></a>
                </li>
            </div>
        </nav>
    </div>

    <div class="jumbotron jumbotron-fluid">
        <p>About Us</p>
    </div>

    <section id="team">
        <p class="page-title">Our Team</p><br>
        <p class="page-description">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Laborum deleniti sequi soluta, animi accusamus dolor quidem sed! Voluptas, sapiente commodi.</p>
        <div class="row">
            <div class="col-sm">   
            </div>
            <div class="col-sm">
                <div class="members">
                    <img src="../Assets/about.jpg" alt="member-image" >
                    <p class="member-name">Arpan Patel</p>
                </div>
            </div>
            <div class="col-sm"></div>
        </div>
        <div class="row">
            <div class="col-sm">
                <div class="members">
                    <img src="../Assets/about.jpg" alt="member-image">
                    <p class="member-name">Vrusha Parikh</p>
                </div>
            </div>
            <div class="col-sm">
                <div class="members">
                    <img src="../Assets/about.jpg" alt="member-image">
                    <p class="member-name">Shubham Kshatriya</p>
                </div>
            </div>
            <div class="col-sm">
                <div class="members">
                    <img src="../Assets/about.jpg" alt="member-image">
                    <p class="member-name">Khushali Mehta</p>
                </div>
            </div>
        </div>
    </section>


    <section id="footer">
        <div class="foot">
            <div class="row">
                <div class="col-sm-3">
                    <p class="title"><span style="color: orangered;">e</span>Vote</p>
                    <p style="color: rgb(168, 164, 164); padding-left:5px">Contact: +91 567864865448</p>
                    <p style="color: rgb(168, 164, 164); padding-left:5px">G-mail: humaraDesign4@gmail.com</p>
                </div>
                <div class="vl"></div>
                <div class="col-sm-6 privacy">
                    <p style="color: white; font-size: large;">Privacy Policy</p>
                    <p class="contentFoot"> Lorem ipsum dolor sit amet consectetur, adipisicing elit. A ut architecto
                        perferendis recusandae velit molestiae
                        exercitationem soluta unde ullam quisquam, dolorum cum, dolor consectetur aliquam corporis
                        necessitatibus ea omnis eveniet?</p>
                </div>
                <div class="col-sm-3 privacy">
                    <p style="color: white; font-size: large;">Important links</p>
                    <a href="">T&C</a><br>
                    <a href="faq.html">FAQ</a><br>
                    <a href="team.html">Team</a><br>
                </div>
            </div>
        </div>
        <div class="row2">
            <p style="padding-top: 10px;text-align: center;"> Copyright © : Humara Design | <\> by
                    Humara Design </p>
        </div>
    </section>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
    </script>
</body>

</html>